body {
	background-image:url('bg.jpg');
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
	background-size:cover;
	color: #fff;
	font-family: "Roboto", "Helvetica Neue", sans-serif;
	text-shadow: 0 3px 6px rgba(0,0,0,.5);
	font-weight: 300;
	line-height: 1.6;
}
a {color:#fff}
a:hover {color:#00a1e0;transition: all .3s ease-in-out;}
.outer {
	display: table;
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	border:none;
}

.middle {
	display: table-cell;
	vertical-align: middle;
}

.inner {
	margin-left: auto;
	margin-right: auto;
	width: 80%;
	max-width: 540px;
	text-align: center;
	background-color: rgba(0,0,0,.7);
	padding: 35px;
	padding-bottom: 5px;
	border-radius: 12px;

}
h1 {
	font-weight: 400;
	margin: 25px 0;
	font-size: 1.4em;
	font-family:"Roboto Slab", sans-serif;
	text-transform: uppercase;
	letter-spacing: 1.5px;
}
p {
	margin: 25px 0;
}
.profile {
	width: 96px;
	height: 96px;
	border-radius: 50%;
	border: 2px solid #fff;
	box-shadow: 0 3px 6px rgba(0,0,0,.5);
}
i.fab {
	margin: 0 10px;
}
.social a {color:#fff;}
.social a.twitter:hover {color:#1da1f2;}
.social a.linkedin:hover {color:#0077b5;}
.social a.salesforce:hover {color:#1798c1;}
.social a.instagram:hover {color:#e1306c;}
.social a.reddit:hover {color:#ff4500;}