html {font-size: 10px;}
body {
	background-color: #000;
	background-image: url('bg.jpg');
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
	background-size: cover;
	color: #eee;
	font-family: Lato, "Helvetica Neue", sans-serif;
	font-size: 18px;
	font-size: 1.8rem;
	text-shadow: 0 3px 6px rgba(0,0,0,.5);
	font-weight: 300;
	line-height: 1.7;
}
a {color: #eee;}
a:hover {
	color: #00a1e0;
	transition: all .3s ease-in-out;
}
.outer {
	background-color: rgba(0,0,0,.5);
	display: table;
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	border: none;
	-webkit-backdrop-filter: blur(5px);
	backdrop-filter: blur(5px);
}
.middle {
	display: table-cell;
	vertical-align: middle;
}
.inner {
	margin: 0 auto;
	width: 80%;
	max-width: 510px;
	text-align: center;
	padding: 35px;
	padding-bottom: 5px;
}
h1 {
	font-weight: 400;
	margin: 0 0 35px 0;
	font-size: 22px;
	font-size: 2.2rem;
	text-transform: uppercase;
	letter-spacing: 1.5px;
}
p {margin: 35px 0;}
.profile {
	width: 84px;
	height: 84px;
	border-radius: 50%;
	box-shadow: 0 3px 6px rgba(0,0,0,0.3);
}
i.fab, i.fas {margin: 0 10px;}
.social a {
	border-radius: 50%;
	display: inline-block;
	font-size: 16px;
	font-size: 1.6rem;
	line-height: 36px;
	margin: 0 3px;
	text-shadow: none;
	width: 36px;
}
.social a.twitter {background: #1da1f2;color:#eee;}
.social a.linkedin {background: #0077b5;color:#eee;}
.social a.salesforce {background: #1798c1;color:#eee;}
.social a.instagram {background: #e1306c;color:#eee;}
.social a.reddit {background: #ff4500;color:#eee;}
.social a.wordpress {background: #0087be;color:#eee;}
.social a:hover {filter: brightness(120%);}