:root {
    --background: #fff;
    --text: #363636;
    --link: #00a1e0;
    --accent-1: #f8f8f8;
    --accent-2: #dfdfdf;
    --accent-3: #676767;
    --social: #9c9c9c;
    --sans-serif-font: -apple-system, system-ui, BlinkMacSystemFont, 'Helvetica Neue', Helvetica, Arial, sans-serif;
    --mono-space-font: ui-monospace, SFMono-Regular, ui-monospace, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
    --font-weight-normal: 400;
    --font-weight-bold: 700;
}
@media (prefers-color-scheme: dark) {
    :root {
        --background: #191919;
        --text: #f8f8f8;
        --accent-1: #2c2c2c;
        --accent-2: #4c4c4c;
        --accent-3: #d9d9d9;
    }
}

*, *::before, *::after {
    box-sizing: border-box;
}
img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}
input, button, textarea, select {
    font: inherit;
}
p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}
h1, h2, h3, h4, h5, h6, b, strong, th, td {
    font-weight: var(--font-weight-bold);
    font-family: var(--sans-serif-font);
}
#root, #__next {
    isolation: isolate;
}

html {
	font-size: 10px;
}
body {
	color: var(--text);
	background: var(--background);
	font-family: -apple-system, system-ui, BlinkMacSystemFont, 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 1.7rem;
	line-height: 1.5;
	margin: 1rem auto;
	max-width: 70rem;
	padding: 2rem;
	-moz-font-feature-settings:    "kern" 1; 
	-ms-font-feature-settings:     "kern" 1; 
	-o-font-feature-settings:      "kern" 1; 
	-webkit-font-feature-settings: "kern" 1; 
	font-feature-settings:         "kern" 1;
	font-kerning: normal;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
a:link, a:visited {
	color: var(--link);
}

header {
  border-bottom: 1px solid var(--accent-2);
  margin-bottom: 1rem;
}

footer {
  border-top: 1px solid var(--accent-2);
  margin-top: 1rem;
}

a {
  color: #00e;
  text-decoration: none;
}
