{{ define "main" }}
  <article>
    <h1 class="page-title">{{ .Title }}</h1>
  
    <div class="post-meta">
        <time datetime="{{ .Date | time.Format "2006-01-02T15:04:05-07:00" }}">
            {{ .Date.Format "01/02/2006" }}
        </time>
    </div>
    
    <div class="post-content">
        {{ .Content }}
    </div>
    
    {{ partial "terms.html" (dict "taxonomy" "tags" "page" .) }}
    
    {{- if or (.NextInSection) (.PrevInSection) }}
    <nav class="main-nav">
        <ul>
            <li>{{ if .PrevInSection }}<a href="{{ .PrevInSection.Permalink }}">← Older</a>{{ end }}</li>
            <li>{{ if .NextInSection }}<a href="{{ .NextInSection.Permalink }}">Newer →</a>{{ end }}</li>
        </ul>
    </nav>
    {{- end }}
  </article>
{{ end }}
