<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<link rel="icon" type="image/png" href="/favicons/favicon-96x96.png" sizes="96x96" />
<link rel="icon" type="image/svg+xml" href="/favicons/favicon.svg" />
<link rel="shortcut icon" href="/favicons/favicon.ico" />
<link rel="apple-touch-icon" sizes="180x180" href="/favicons/apple-touch-icon.png" />
<meta name="apple-mobile-web-app-title" content="Jim Mitchell" />
<link rel="manifest" href="/favicons/site.webmanifest" />
<meta name="description" content="{{ .Description | default .Site.Params.SiteDescription}}" />
<meta name="fediverse:creator" content="@jim@social.jimmitchell.org" />
<link rel="me" href="https://social.jimmitchell.org/@jim" />
<link rel="preload" href="/fonts/gw/GT-W-Regular.woff2" as="font" type="font/woff2" crossorigin="anonymous" />
<link rel="preload" href="/fonts/gw/GT-W-Regular-Oblique.woff2" as="font" type="font/woff2" crossorigin="anonymous" />
<link rel="preload" href="/fonts/gw/GT-W-Bold.woff2" as="font" type="font/woff2" crossorigin="anonymous" />
<link rel="preload" href="/fonts/gw/GT-W-Bold-Oblique.woff2" as="font" type="font/woff2" crossorigin="anonymous" />
{{ partial "opengraph.html" . }}
{{- with .OutputFormats.Get "rss" -}}
  {{ printf `<link rel=%q type=%q href=%q title=%q>` .Rel .MediaType.Type .Permalink site.Title | safeHTML }}
{{- end }}
{{- if .Params.noindex }}
<meta name="robots" content="noindex" /> 
{{- end }}
<title>{{ if .IsHome }}{{ site.Title }}{{ else }}{{ printf "%s | %s" .Title site.Title }}{{ end }}</title>
{{- partialCached "head/css.html" . }}