<nav class="navbar">
    <h1 class="site-title"><a href="/">{{ site.Title }}</a></h1>
    {{- partial "menu.html" (dict "menuID" "main" "page" .) }}
    <ul class="nav-links social">
        <li><a href="https:mastodon.social/@jimmitchell"><i class="fa-brands fa-mastodon"></i></a></li>
        <li><a href="https:mastodon.social/@jimmitchell"><i class="fa-brands fa-github"></i></a></li>
        <li><a href="https:mastodon.social/@jimmitchell"><i class="fa-brands fa-threads"></i></a></li>
        <li><a href="https:mastodon.social/@jimmitchell"><i class="fa-brands fa-linkedin"></i></a></li>
    </ul>
</nav>