<nav class="navbar">
    <h1 class="site-title"><a href="/">{{ site.Title }}</a></h1>
    <ul class="social">
        <li><a class="mastodon" href="https://jimmitchell.social/@jim" rel="me" aria-label="Mastodon" target="_blank"><i class="ph ph-mastodon-logo"></i></a></li>
        <li><a class="github" href="https://github.com/jimmitchell" rel="me" aria-label="Github" target="_blank"><i class="ph ph-github-logo"></i></a></li>
        <li><a class="search" href="/search/" aria-label="Search"><i class="ph ph-magnifying-glass"></i></a></li>
    </ul>
</nav>
{{- partial "menu.html" (dict "menuID" "main" "page" .) }}