@font-face {
	font-family: 'Proxima Nova';
	font-style: normal;
	font-weight: 400;
	src: url("/fonts/proxima_nova_regular.woff2");
}

@font-face {
	font-family: 'Proxima Nova';
	font-style: normal;
	font-weight: 700;
	src: url("/fonts/proxima_nova_bold.woff2");
}

@font-face {
	font-family: 'Proxima Nova';
	font-style: italic;
	font-weight: 400;
	src: url("/fonts/proxima_nova_italic.woff2");
}

@font-face {
	font-family: 'Proxima Nova';
	font-style: italic;
	font-weight: 700;
	src: url("/fonts/proxima_nova_bold_italic.woff2");
}