@font-face {
	font-family: 'GT Walsheim';
	font-style: normal;
	font-weight: 400;
	src: local(""), url("/fonts/GT-Walsheim-Regular.woff") format("woff");
}

@font-face {
	font-family: 'GT Walsheim';
	font-style: normal;
	font-weight: 700;
	src: local(""), url("/fonts/GT-Walsheim-Bold.woff") format("woff");
}

@font-face {
	font-family: 'GT Walsheim';
	font-style: italic;
	font-weight: 400;
	src: local(""), url("/fonts/GT-Walsheim-Regular-Oblique.woff") format("woff");
}

@font-face {
	font-family: 'GT Walsheim';
	font-style: italic;
	font-weight: 700;
	src: local(""), url("/fonts/GT-Walsheim-Bold-Oblique.woff") format("woff");
}

@font-face {
	font-family: 'Proxima Nova';
	font-style: normal;
	font-weight: 400;
	src: local(""), url("/fonts/proxima_nova_regular.woff2") format("woff2");
}

@font-face {
	font-family: 'Proxima Nova';
	font-style: normal;
	font-weight: 700;
	src: local(""), url("/fonts/proxima_nova_bold.woff2") format("woff2");
}

@font-face {
	font-family: 'Proxima Nova';
	font-style: italic;
	font-weight: 400;
	src: local(""), url("/fonts/proxima_nova_italic.woff2") format("woff2");
}

@font-face {
	font-family: 'Proxima Nova';
	font-style: italic;
	font-weight: 700;
	src: local(""), url("/fonts/proxima_nova_bold_italic.woff2") format("woff2");
}