body {
  color: var(--text-main-color);
  background: var(--background-color);
  padding: 1rem;
  font-size: 1.8rem;
  font-family: var(--sans-serif-font);
  font-weight: var(--font-weight-normal);
  font-stretch: normal;
  font-variant-ligatures: none !important;
  line-height: var(--base-line-height);
  -ms-word-wrap: break-word;
  word-wrap: break-word;
  text-rendering: geometricPrecision;
  -moz-font-feature-settings: "kern" 1;
  -ms-font-feature-settings: "kern" 1;
  -o-font-feature-settings: "kern" 1;
  -webkit-font-feature-settings: "kern" 1;
  font-feature-settings: "kern" 1;
  font-kerning: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
a:link, a:visited {
  color: var(--link-color);
  text-decoration: none;
}
a:hover, a:active {
  text-decoration: underline;
}
h1, h2, h3, h4, h5, h6 {
  font-weight: var(--font-weight-bold);
}
blockquote {
  padding: 1px 3rem;
  margin: 3rem 0;
  font-style: italic;
  color: var(--text-main-color);
  background: var(--accent-color-1);
  border-radius: 6px;
}
code, pre {
  font-size: 1.5rem;
  background: var(--accent-color-2);
  font-family: var(--mono-space-font);
}
code {
  padding: 3px 6px;
  border-radius: 6px;
  color: var(--text-main-color);
  background: var(--accent-color-1);
}
pre {
  padding: 2rem 2.5rem;
  margin: 4rem 0;
  border-radius: 6px;
  font-size: 1.6rem;
  overflow: scroll;
  background: #000 !important;
}
pre code {
  padding: 0;
  margin: 0;
  white-space: pre;
}
s, strike, del {
  color: var(--accent-color-3);
}

table {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid var(--accent-color-3);
}
th, td {
  border: 1px solid var(--accent-color-3);
  padding: 3px 9px;
}
th {
  background-color: var(--accent-color-1);
  text-align: center;
}

hr {
  border: none;
  height: 1px;
  background: var(--accent-color-2);
  margin: 4rem 0;
}

highlight,
mark {
  background-color: var(--accent-color-3);
  color: var(--text);
  padding: 0 3px;
  margin-left: -3px;
}


header {
  margin: 2rem auto 4rem;
  max-width: var(--max-width);
}
header a:link,
header a:visited {
  color: var(--link-color);
  text-decoration: none;
  margin: 0;
  padding: 0;
}
header a:hover,
header a:active {
  text-decoration: underline;
}
header .site-title {
  margin: 0;
  line-height: 2;
  font-size: 2rem;
}
header .site-title a {
  color: var(--link-color-hover);
}
header .site-title a:hover,
header .site-title a:active {
  text-decoration: none;
  color: var(--link-color);
}

.navbar {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}
.social {
  margin: 0;
  font-size: 2rem;
}
.social li {
  display: inline;
  margin: 0;
}
.social a:link,
.social a:visited {
  margin: 0 0 0 1.5rem;
  color: var(--accent-color-5);
  line-height: 2;
}
.social a:hover,
.social a:active {
  color: var(--link-color-hover);
  text-decoration: none;
}

.nav-links {
  list-style: none;
  margin: 0;
  padding: 5rem 0 2rem;
  font-size: 1.8rem;
  line-height: 1;
}
.nav-item {
  display: inline;
  margin-right: 2rem;
}
.nav-item:last-of-type {
  margin-right: 0;
}
.nav-links a:link,
.nav-links a:visited {
  color: var(--text-main-color);
}
.nav-links a:hover,
.nav-links a:active {
  color: var(--link-color);
}

main {
  max-width: var(--max-width);
  margin: 0 auto;
}
article {
  margin: 0 0 8rem;
}
article:last-of-type {
  margin-bottom: 4rem;
}
.page-title,
.post-title {
  font-size: 2.4rem;
}
.post-title a:link,
.post-title a:visited {
  color: var(--text-main-color);
}
.post-title a:hover,
.post-title a:active {
  color: var(--link-color);
}
.post-date {
  font-size: 1.6rem;
  color: var(--accent-color-5);
  flex-shrink: 0;
  margin-left: 1rem;
}
time {
  margin: 0 0 3rem 0;
  display: block;
  font-size: 1.6rem;
  color: var(--accent-color-5);
}
main p, main ol, main ul {
  margin: 3rem 0;
}
main ol, main ul {
  padding: 0;
  margin-left: 2rem;
  margin-right: 2rem;
}
main img {
  border-radius: 6px;
}

.tags {
  list-style: none;
  margin: 3rem 0;
  padding: 0;
}
.tags li {
  display: inline-block;
  margin-right: 0.5rem;
  margin-bottom: 0.25rem;
}
.tags a {
  font-size: 1.6rem;
  padding: 6px 9px;
  background: var(--accent-color-1);
  color: var(--accent-color-6);
  border-radius: 6px;
}
.tags a:hover,
.tags a:active {
  background: var(--accent-color-3);
  color: var(--text-main-color);
  text-decoration: none;
}
.tags span {
  color: var(--accent-color-2);
}

.main-nav {
  margin: 0;
  padding: 1rem 0 0 0;
}
.main-nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main-nav li {
  margin: 0;
  padding: 0;
}

.archive-list {
  list-style: none;
  margin: 2rem 0;
  padding: 0;
  border-top: 1px solid var(--accent-color-2);
}
.archive-list li {
  margin: 0;
  border-bottom: 1px solid var(--accent-color-2);
  line-height: 1.2;
  padding: 1.2rem .2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
h4.post-group {
  margin-bottom: -1rem;
  margin-top: 4rem;
  color: var(--accent-color-5);
  font-size: 1.6rem;
}
.archives h4.post-group:first-of-type {
  margin-top: 3rem;
}

#search-input {
  background: var(--accent-color-1);
  border: 1px solid var(--accent-color-2);
  width: 100%;
  padding: 12px;
  border-radius: 6px;
  color: var(--text-main-color);
  outline: none;
}
#search-input:active,
#search-input:focus {
  border-color: var(--accent-color-3);
}
.search-results {
  margin-top: 6rem;
}
ul.search-list {
  list-style: none;
  margin: 2rem 0;
  padding: 0;
  border-top: 1px solid var(--accent-color-2);
}
ul.search-list li {
  margin: 0;
  border-bottom: 1px solid var(--accent-color-2);
  line-height: 1.2;
  padding: 1.2rem .2rem 0;
}

footer {
  max-width: var(--max-width);
  margin: 4rem auto;
  font-size: 1.6rem;
  text-align: center;
  color: var(--accent-color-5);
}
footer a:link,
footer a:visited {
  color: var(--accent-color-5);
}
footer a:hover,
footer a:active {
  color: var(--link-color);
}
.tinylytics_hits {
  font-size: 1.2rem;
  color: var(--accent-color-2);
}
