:root {
    --background: #fff;
    --text: #363636;
    --link: #822fee;
    --link-hover: #000;
    --accent-1: #e6e6e6;
    --accent-2: #ccc;
    --accent-3: #999;
    --accent-4: #555;
    --warning: #e00031;
    --masto-hover: #563ACC;
    --github-hover: #FF507A;
    --sans-serif-font: "Atkinson Hyperlegible Next", -apple-system, system-ui, BlinkMacSystemFont, 'Helvetica Neue', Helvetica, Arial, sans-serif;
    --title-font: "Roboto Condensed", -apple-system, system-ui, BlinkMacSystemFont, 'Helvetica Neue', Helvetica, Arial, sans-serif;
    --mono-space-font: ui-monospace, SFMono-Regular, Consolas, 'Liberation Mono', Menlo, Courier, monospace;
    --font-weight-normal: 400;
    --font-weight-bold: 700;
    --max-width: 70rem;
    --base-line-height: 1.7;
}
@media (prefers-color-scheme: dark) {
  :root {
    --background: #181818;
    --text: #f8f8f8;
    --link: #c7a1f6;
    --link-hover: #fff;
    --accent-1: #393939;
    --accent-2: #555;
    --accent-3: #ccc;
    --accent-4: #eddd;
    --masto-hover: #6364FF;
    --github-hover: #FF507A;
  }
}